
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../assets/Usuario.png" class="Usuario" alt="">
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5><p id="3">{{persona.nombre}} {{persona.apellido}} Developer Full Stack Junior</p></h5>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <h4>Acerca de Mi</h4>
        <p>
            Lorem ipsum dolor sit amet. Ea dolores obcaecati et distinctio quia qui saepe ullam aut quia fuga. Aut dolorum omnis vel voluptas omnis aut asperiores illum ut consequatur quis ut temporibus accusantium cum consequatur sunt.
    
            Rem magni esse hic provident laborum ut eaque quaerat. Est incidunt adipisci et totam necessitatibus id aspernatur maxime non veritatis ipsam et enim perferendis. Est dolore laudantium id asperiores accusantium et enim praesentium nam nihil quia non aliquid recusandae qui reiciendis sunt.
        </p>
    </div>
</div>