
<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-4 col-lg-2">
        <img src="{{persona.img}}" class="Usuario" alt="">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-3 col-lg-2">
        <span class="h5 fw-bold mb-0"><p id="nombre">{{persona.nombre}} {{persona.apellido}}</p></span>
        <span class="h5 fw-bold mb-0"><p>Full Stack Developer JR</p></span>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-5 col-lg-7 descripcion">
        <span>
          <h4><span class="h5 fw-bold mb-0">Acerca de mi &nbsp;<button class="btn btn-dark" *ngIf="isLogged" routerLink="/editacercade/1"><i class="bi bi-pencil-square"></i></button></span></h4>
          <p>{{persona.descripcion}}</p>
      </span>
    </div>
</div>