   <section class="vh-100" style="background-image: url(../../../assets/fondo.png);">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-md-12 col-lg-12 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                            
                            <div class="form-group">
                                <label for="nombre"><span class="Tipografia"><h5><b>Nombre</b></h5></span></label>   
                                <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                            </div>
    
                            <br>
    
                            <div class="form-group">
                                <label for="apellido"><span class="Tipografia"><h5><b>Apellido</b></h5></span></label>
                                <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                            </div>
    
                            <br>

                            <div class="form-group">
                                <label for="descripcion"><span class="Tipografia"><h5><b>Descripcion</b></h5></span></label>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" [(ngModel)]="persona.descripcion" required>
                            </div>

                            <br>

                            <div class="form-group">
                                <label for="img"><span class="Tipografia"><h5><b>Imagen</b></h5></span></label>
                                <input type="file" class="form-control" id="img" name="img" [(ngModel)]="persona.img" (change)="uploadImage($event)"
                                accept=".jpg, .jpge, .png">
                            </div>
                            <div class="imagen">
                                <img [src]="imageServices.url" width="200px">
                            </div>

                            <br>
    
                            <button class="btn btn-dark">
                                <span class="Tipografia">Actualizar</span>
                            </button>
    
                        </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
