<section class="vh-100" style="background-image: url(../../../assets/fondo.png);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-12 col-lg-12 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                      
                      <div class="form-group">
                          <label for="nombreProyecto"><span class="Tipografia"><h5><b>Nombre del proyecto</b></h5></span></label>
                          <input type="text" class="form-control" id="nombreProyecto" name="nombreProyecto" [(ngModel)]="nombreProyecto"/>
                      </div>

                      <br>

                      <div class="form-group">
                          <label for="imgproyecto"><span class="Tipografia"><h5><b>Link directo de la imagen</b></h5></span></label>
                          <input type="text" class="form-control" id="imgproyecto" name="imgproyecto" [(ngModel)]="imgproyecto"/>
                      </div>

                      <br>

                      <div class="form-group">
                        <label for="descripcionProyecto"><span class="Tipografia"><h5><b>Descripcion del proyecto</b></h5></span></label>
                        <input type="text" class="form-control" name="descripcionProyecto" id="descripcionProyecto" [(ngModel)]="descripcionProyecto"/>
                       </div>

                       <br>

                       <div class="form-group">
                         <label for="linkproyecto"><span class="Tipografia"><h5><b>URL del proyecto</b></h5></span></label>
                         <input type="text" class="form-control" name="linkproyecto" id="linkproyecto" [(ngModel)]="linkproyecto"/>
                       </div>

                       <br>

                       <button class="btn btn-dark">
                        <span class="Tipografia">Agregar proyecto</span>
                    </button>

                  </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>













