
<div class="row">
  <h2><span class="Tipografia"><u>Proyectos</u></span><button type="button" class="btn btn-link" routerLink="/newproyecto" *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i></button></h2>
  <br>
  
<table class="table">
    <tbody>
        <tr *ngFor="let Proyecto of proyectos">
            <td><h3 class="Tipografia"><b>{{Proyecto.nombreProyecto}}</b></h3></td>
            <td><h4 class="Tipografia">{{Proyecto.descripcionProyecto}}</h4></td>
            <td><h4 class="Tipografia">{{Proyecto.linkproyecto}}</h4></td>
            <td><img class="card-img-top img-responsive img-thumbnail" src="{{ Proyecto.imgproyecto }}" alt="Imagen {{ Proyecto.nombreProyecto }}"/></td>
            <td *ngIf="isLogged"><button class="btn btn-dark" routerLink="/editproyecto/{{ Proyecto.id }}"><i class="bi bi-pencil-square"></i></button></td>
                <td *ngIf="isLogged"><button class="btn btn-danger" (click)="delete(Proyecto.id)"><i class="bi bi-trash3"></i></button></td>
        </tr>
    </tbody>
</table>
</div>



