<div class="row gx-0 p-0 bg">
         <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/logo2.png" class="Logo" alt="">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 Redes" id="Red">
            <A href="https://www.instagram.com/isaaccabral2/"> <img src="../../../assets/Insta.png" class="Instagram" alt=""> </A>
            &nbsp;
            <A href="https://twitter.com/"> <img src="../../../assets/Twitter.png" class="Twt" alt=""> </A>
            &nbsp;
            <A href="https://www.facebook.com/profile.php?id=100089838039385"> <img src="../../../assets/face.png" class="Face" alt=""> </A>
        </div>
         <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <app-boton-login></app-boton-login>
        </div>
        
</div>
