<div class="row gx-0 p-0 bg">
         <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/logo2.png" class="Logo" alt="">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <A href="https://www.instagram.com/isaaccabral2/"></A>
        </div>
         <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <app-boton-login></app-boton-login>
        </div>
        
</div>
