
.row{ 
    padding: 40px;
}
.rowed{
    background-image: url(../../../assets/fondo2.png);

}
.circulo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
}
