
<div class="row">
    <h2>Hard & Soft Skills</h2>
    <div>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/HTML5_logo_and_wordmark.svg.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
          ></circle-progress>
        </div>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="75"
          ></circle-progress>
        </div>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="170"
          ></circle-progress>
        </div>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/type.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
          ></circle-progress>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/java.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="120"
          ></circle-progress>
        <div>
            <circle-progress
            [percent]="70"
            [radius]="115"
            [outerStrokeWidth]="11"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
            [imageSrc]="'../assets/gobstone.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
          ></circle-progress>
          <br>
          <br>
          <br>
          <br>
        </div>
    </div>
</div>