   .Logo {
        width: 50px;
        height: 40px;
        display: flex;
    }
    .Instagram{
        width: 50px;
        height: 40px;
        position: absolute; right: 120px; 
        display: flex;
    }
    
    /*
    .Usuario {
        width: 280px;
        height: 280px;
        position: absolute; top: 580px;
    }*/

