   .Logo {
        width: 200px;
        height: 110px;
    }
    .Instagram{
        width: 50px;
        height: 40px;
    }
    .Tipografia{
        font-family: 'Century gothic';
    }
    
    /*
    .Usuario {
        width: 280px;
        height: 280px;
        position: absolute; top: 580px;
    }*/

